# ZSH Configuration
# -----------------

DEFAULT_USER=whoami
ZSH_THEME="agnoster"

# ZSH Plugins
plugins=(git brew python pyenv z)

# Path to oh-my-zsh Installation
export ZSH={{ lookup('ansible.builtin.env', 'HOME') }}/.oh-my-zsh

source $ZSH/oh-my-zsh.sh

# Used to not display username in oh-my-zsh agnoster theme
prompt_context(){}

# Auto Complete
autoload -U +X bashcompinit && bashcompinit

#-------------------------------------------------------------------------------

# PATH
#-----------

export PATH=/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin/

#-------------------------------------------------------------------------------

# Pyenv Configuration
# ----------------

eval "$(pyenv init --path)"

#-------------------------------------------------------------------------------
