# ZSH Configuration
# -----------------

DEFAULT_USER=whoami
ZSH_THEME="agnoster"

# ZSH Plugins
plugins=(git brew python pyenv z)

# Path to oh-my-zsh Installation
export ZSH={{ lookup('ansible.builtin.env', 'HOME') }}/.oh-my-zsh

source $ZSH/oh-my-zsh.sh

# Used to not display username in oh-my-zsh agnoster theme
prompt_context(){}

# Auto Complete
autoload -U +X bashcompinit && bashcompinit

#-------------------------------------------------------------------------------

# PATH
#-----------

# Adding "/opt/homebrew/bin/" first, as some packages get install by default to "/usr/local/bin" such as kubectl by
# Docker Desktop

export PATH=/opt/homebrew/bin/:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin

#-------------------------------------------------------------------------------

# K8s Configuration
# ----------------

alias k=kubectl

#-------------------------------------------------------------------------------

# Pyenv Configuration
# ----------------

eval "$(pyenv init --path)"

#-------------------------------------------------------------------------------

# Node Config
#-----------

# https://medium.com/@priscillashamin/how-to-install-and-configure-nvm-on-mac-os-43e3366c75a6

# Add the following to your shell profile e.g. ~/.profile or ~/.zshrc:
export NVM_DIR="$HOME/.nvm"
[ -s "$(brew --prefix)/opt/nvm/nvm.sh" ] && \. "$(brew --prefix)/opt/nvm/nvm.sh"  # This loads nvm
[ -s "$(brew --prefix)/opt/nvm/etc/bash_completion.d/nvm" ] && \. "$(brew --prefix)/opt/nvm/etc/bash_completion.d/nvm"  # This loads nvm bash_completion

#-------------------------------------------------------------------------------

# Ruby Config
#-----------
if [ -d "$(brew --prefix)/opt/ruby/bin" ]; then
  export PATH=$(brew --prefix)/opt/ruby/bin:$PATH
  export PATH=`gem environment gemdir`/bin:$PATH
fi

#-------------------------------------------------------------------------------

# Golang Config
#-----------

export PATH=$PATH:$GOPATH/bin

#-------------------------------------------------------------------------------

# C/C++ Config
#-----------

# https://github.com/haf/macos/blob/main/dotfiles/.env.zsh

export LDFLAGS="-L$(brew --prefix)/opt/openssl@1.1/lib"
export CPPFLAGS="-I$(brew --prefix)/opt/openssl@1.1/include"
export C_INCLUDE_PATH=$(brew --prefix)/include
export LIBRARY_PATH="$(brew --prefix)/lib:/usr/lib"