{{ ansible_managed | comment }}

# ZSH Configuration
# -----------------
# For full list see: https://github.com/ohmyzsh/ohmyzsh/wiki/Settings

DEFAULT_USER=whoami
ZSH_THEME={{ oh_my_zsh_theme }}

# ZSH Plugins
plugins=(git brew python pyenv z)

# Path to oh-my-zsh Installation
export ZSH={{ lookup('ansible.builtin.env', 'HOME') }}/.oh-my-zsh

# Update Settings
# See: https://github.com/ohmyzsh/ohmyzsh/wiki/Settings#update-settings
zstyle ':omz:update' mode {{ oh_my_zsh_mode }}
zstyle ':omz:update' frequency {{ oh_my_zsh_frequency }}

source $ZSH/oh-my-zsh.sh

# Used to not display username in oh-my-zsh agnoster theme
prompt_context(){}

# Auto Complete
autoload -U +X bashcompinit && bashcompinit

#-------------------------------------------------------------------------------

# PATH
#-----------

# Adding "/opt/homebrew/bin/" first, as some packages get install by default to
# "/usr/local/bin" such as kubectl by Docker Desktop

export PATH={{ homebrew_path }}/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin

#-------------------------------------------------------------------------------

# K8s Configuration
# ----------------

alias k=kubectl

#-------------------------------------------------------------------------------

# Pyenv Configuration
# ----------------

## TODO Fix section -> https://github.com/pyenv/pyenv?tab=readme-ov-file#set-up-your-shell-environment-for-pyenv

# eval "$(pyenv init --path)"

export PYENV_ROOT="$HOME/.pyenv"
[[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"

#-------------------------------------------------------------------------------

# Node Config
#-----------

# https://medium.com/@priscillashamin/how-to-install-and-configure-nvm-on-mac-os-43e3366c75a6

# Add the following to your shell profile e.g. ~/.profile or ~/.zshrc:
export NVM_DIR="$HOME/.nvm"
[ -s "{{ homebrew_path }}/opt/nvm/nvm.sh" ] && \. "{{ homebrew_path }}/opt/nvm/nvm.sh"  # This loads nvm
[ -s "{{ homebrew_path }}/opt/nvm/etc/bash_completion.d/nvm" ] && \. "{{ homebrew_path }}/opt/nvm/etc/bash_completion.d/nvm"  # This loads nvm bash_completion

#-------------------------------------------------------------------------------

# Ruby Config
#-----------
if [ -d "{{ homebrew_path }}/opt/ruby/bin" ]; then
  export PATH={{ homebrew_path }}/opt/ruby/bin:$PATH
  export PATH=`gem environment gemdir`/bin:$PATH
fi

#-------------------------------------------------------------------------------

# Golang Config
#-----------

export PATH=$PATH:$GOPATH/bin

#-------------------------------------------------------------------------------

# C/C++ Config
#-----------

# https://github.com/haf/macos/blob/main/dotfiles/.env.zsh

export LDFLAGS="-L{{ homebrew_path }}/opt/openssl@1.1/lib"
export CPPFLAGS="-I{{ homebrew_path }}/opt/openssl@1.1/include"
export C_INCLUDE_PATH={{ homebrew_path }}/include
export LIBRARY_PATH="{{ homebrew_path }}/lib:/usr/lib"
