{{ ansible_managed | comment }}

[user]
	name = {{ git_username }}
	email = {{ git_email }}

[credential]
	UseHttpPath = true

[push]
    editor = vim
    default = simple

[core]
	excludesfile = ~/.gitignore

[alias]
	a  = add .
	aa = add --all
	c  = commit
	cl = clone
	ch = checkout
	b  = branch
	l  = log
