[default]
aws_access_key_id = YOUR_AWS_ACCESS_KEY_ID
aws_secret_access_key = YOUR_AWS_SECRET_ACCESS_KEY

[PROFILE_X]
role_arn = arn:aws:iam::{account_number}:role/testing
source_profile = default
role_session_name = OPTIONAL_SESSION_NAME

[PROFILE_Y]
aws_access_key_id = YOUR_AWS_ACCESS_KEY_ID
aws_secret_access_key = YOUR_AWS_SECRET_ACCESS_KEY